<!DOCTYPE html>
<!-- {% load static %} -->
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>my_daily2.html</title>
  <link  rel="stylesheet" href="../../../static/diary/style_ano.css" type="text/css">
</head>
<body>
  <h1 style="margin:auto">日記 & HTML 勉強資料 part2 2020 年</h1>
  <h2>3 月 1 日(日)</h2>
  <p>別の<strong>HTML</strong>ファイルの添付方法を<strong> Jo </strong>から教えてもらった</p>

  <h2>6 月 23 日</h2>
  <p><strong>heroku と github</strong>を連携させた。
    github に push すると heroku が自動更新されるように設定した。
  </p>
  <h2>7 月 1 日</h2>
  <p>ソサエティの原稿が完成した(^^)</p>
  
</body>
</html>

