<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>my_diary.html</title>
  <!-- <style> -->
  <!--   body { -->
  <!--   background-color: yellow; -->
  <!--   font-family: serif; -->
  <!--   } -->
  <!--   p{ -->
  <!--   font-size: 18px; -->
  <!--   font-family: serif; -->
  <!--   } -->
  <!-- </style> -->
  <link rel="stylesheet" href="../../../static/style.css" type="text/css">
  <script type="text/javascript" src="../../../static/sample.js"></script>
</head>

<body>
  <h1 style="margin:auto">taiseiyo の 1 日 PART 1 (リニューアル)</h1>
  <img src="../../static/star.jpg" alt="星空"/><br/>

  <script type="text/javascript">
    document.write('<strong>Last Update: ' + document.lastModified + '</strong>');
  </script>

  <h2>サイトリニューアルします(^^)</h2>
  <p>サイトあんまりよくないので始めから作りなおしていきます!!
    背景色は何が良いんや(スマホで見ると眩しすぎる、、、)</p>

  <h2>なんで taiseiyo ？？</h2>
  <p>よく聞かれるから答えておこう!!大西洋から連想しました(それだけです)</p>

  <h2>運用について</h2>
  <p>とりあえず part1 と part2 に分けて勉強系と日常系で分けようかなーー</p>
  
  <p>勉強内容(いきなり)<br>
    django は <strong><em>views.py</em></strong> の中で .html ファイルを指定できる。    "title タグ"でタイトルの指定可能。基本的なタグは以下の URL を見ればいい。
    <a href="https://techacademy.jp/magazine/12305">基礎タグ15選</a>
  </p>

  <p>
    <strong>為になる <em>HTML 勉強サイト</em></strong>を見つけた。初心者に分かりやす    くて悪くない。<br>
    <a href="https://creatorquest.jp/lessons/html/">HTML 入門</a>    
  </p>
  	
  <dl>
    <dt><strong>HTML</strong></dt>
    <dd>Webサイトの文書構造を記す言語</dd>
    <dt><strong>CSS</strong></dt>
    <dd>Webサイトのデザインを定義する言語</dd><br/>
    アタリマエスギカ、、、
  </dl>

  <h2>taiseiyo の 1 日 PART2 の準備してやす</h2>
  <div class="Num1">
    <a href="{% url 'index2' %}">別に作成したファイルを読み込む設定(こっち日常系日記にしてメインは一日で勉強した事書いていく予定ナリ)</a></br>
    <a href="https://proengineer.internous.co.jp/content/columnfeature/5559#2">外部から.css ファイルを HTML 文書に読み込む方法</a></br>
    link タグを使って css ファイルを読み込む事ができた</br>
  </div>
  <div class="btn" onclick="scrollToTop()"></div>
  <div class="btb" onclick="scrollToDown()"></div>  

  <h2>HTML で 3D コンテンツが作れるらしい(驚愕、、)</h2>
  <a href="{% url '3d' %}"><strong>3D の世界へジャンプ</strong>(期待しすぎはダメです)</a>
  <p>Mozilla が作成した <a href="https://aframe.io/">A-FRAME</a> という Javascript のライブラリらしい、、(世の中スゴイ) これで 3D の「シューティングゲーム」ツクリタイ。。</p>
  
  
</body>
</html>

