<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>my_daily.html</title>
  <!-- <style> -->
  <!--   body { -->
  <!--   background-color: yellow; -->
  <!--   font-family: serif; -->
  <!--   } -->
  <!--   p{ -->
  <!--   font-size: 18px; -->
  <!--   font-family: serif; -->
  <!--   } -->
  <!-- </style> -->
  <link rel="stylesheet" href="../../static/style.css" type="text/css">
  
</head>
<body>
  <h1 style="margin:auto">日記 & HTML 勉強資料 2019年</h1>
  <img src="../../static/star.jpg" alt="星空"/>
  <h2>10月18日(金)</h2>
  <p>HTMLとCSSの勉強をした。簡単な事は理解できた。今後の課題としてリンクを貼ってそのURLに飛べるようにする。(ハイパーリンクというらしい)
    
    emacs のCTRL-(c+j)で"br"がだせる事に気づいた。明日はバイト頑張ろ
  </p>
  
  <h2>10月19日(土)</h2>
  <p>バイトとにかく寝むい。立ちながら寝そう</p>
  
  <h2>10月20日(日)</h2>
  <p>爽健美茶はおいしい</p>
  
  <h2>10月21日(月)</h2>
  <p>今日はブートキャンプの打ちあわせを行った</p>
  
  <h2>12月28日(土)</h2>
  <p>久しぶりに html を勉強している。どうやら"br タグ"はパソコンで使用する分にはいいがそれ以外には向いていないらしい。ドットインストールを見ている。初心者向けでそれなりには使えそう。</p>

  <p>勉強内容<br>
    django は <strong><em>views.py</em></strong> の中で .html ファイルを指定できる。"title タグ"でタイトルの指定可能。基本的なタグは以下の URL を見ればいい。
<a href="https://techacademy.jp/magazine/12305">基礎タグ15選</a>
</p>

  <h2>12月29日(日)</h2>
  <p>
    <strong>為になる <em>HTML 勉強サイト</em></strong>を見つけた。初心者に分かりやすくて悪くない。<br>
    <a href="https://creatorquest.jp/lessons/html/">HTML 入門</a>    
  </p>
  <h2>1月4日(日)</h2>
  <p>
    <strong>明けましておめでとうございます</strong>という事で年明けましたー
	
    <dl>
      <dt><strong>HTML</strong></dt>
      <dd>Webサイトの文書構造を記す言語</dd>
      <dt><strong>CSS</strong></dt>
      <dd>Webサイトのデザインを定義する言語</dd>
    </dl>
    <h2>1月9日(日)</h2>
  <p>
    スペインなう。
    django スタートの仕方
    <strong>django-admin startproject manager_project</strong>
  </p>
  <h2>3月1日(日)</h2>
  <h3>外部ファイルを読み込むシリーズ</h3>

  <div class="Num1">
    <a href="../../static/another.html">別に作成したファイルを読み込む設定</a></br>
    <a href="https://proengineer.internous.co.jp/content/columnfeature/5559#2">外部から.css ファイルを HTML 文書に読み込む方法</a></br>
    link タグを使って css ファイルを読み込む事ができた</br>
  </div>
  <ul>
    <li> .css ファイルにおいて id の分け方が分らない</li>
    <li>div タグの後に文字を打ち込むと p タグの設定が反映されない</li>
  </ul>
  二つとも解決した

  <h2>3月5日(日)</h2>
  <p>
    javascript の使い方を少し勉強した
    ファイルの外部読み込みをする時は .js
    を script タグを使用すると良い
    <a href="https://javascript.programmer-reference.com/js-action-click/">javascript ボタンに動きを付ける</a> 
    
  </p>
</body>
</html>

