<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>my_daily.html</title>
  <!-- <style> -->
  <!--   body { -->
  <!--   background-color: yellow; -->
  <!--   font-family: serif; -->
  <!--   } -->
  <!--   p{ -->
  <!--   font-size: 18px; -->
  <!--   font-family: serif; -->
  <!--   } -->
  <!-- </style> -->
  <link rel="stylesheet" href="../../static/style.css" type="text/css">
  
</head>
<body>
  <h1 style="margin:auto">日記 & HTML 勉強資料 2020年</h1>
  <img src="../../static/star.jpg" alt="星空"/>
</body>
</html>

